<!DOCTYPE html>
<html class="background-color">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="twitter:card" content="Shakeel Nazir Twitter Page" />
        <meta name="twitter:site" content="@NA_Shak" />
        <title>Shakeel Nazir</title>
        <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
        <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
        <link rel="icon" type="image/ico" href="{{site.baseurl}}/favicon.ico"/>
        <meta name="viewport" content="width=deice-width,initial-scale-1">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet" type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" type='text/css'>
      </head>

      <nav>
          <a itemtype="url" href="#" class="hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
          </a>

          <ul class="clearfix menu">
              <li><a itemtype="localurl" itemtype="url" href="{{site.baseurl}}/index.html" class="lihover">Home</a></li>
              <li><a itemtype="localurl" href="#protfolio" class="lihover">Protfolio</a></li>
              <li><a itemtype="localurl" href="#contact" class="lihover">Contact</a></li>
          </ul>
      </nav>

      <div class="my-container">
          <div class="header">
            <a href="{{site.baseurl}}/index.html">
              <!--<img itemtype="image" class="logo" src="{{site.baseurl}}/images/logo.png" alt="logo"/>-->
            </a>
              <div class="list">
                  <ul class="close">
                      <li><a itemtype="url" href="{{site.baseurl}}/index.html" class="lihover">Home</a></li>
                      <li><a itemtype="url" href="{{site.baseurl}}/#protfolio" class="lihover">Protfolio</a></li>
                      <li><a itemtype="url" href="#contact" class="lihover">Contact</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <body>

        {{content}}

        <div id="contact" class="footer">
            <div class="grid nospace width4 gg">

            <!--  <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
                  <p itemtype="socail media"class="fontwhite">Contact Links</p>
              </div> -->

                <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3 nospace">
                    <a itemtype="url" href="https://www.linkedin.com/in/shakeel-nazir-255b1799" class="contact2">
                        <img itemtype="image" class="soclogo" src="{{site.baseurl}}/images/linkedin.png" alt="linked in logo">
                    </a>
                </div>

                <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3 nospace">
                    <a itemtype="url" href="https://www.behance.net/shakeelnaz290c" class="contact2">
                        <img itemtype="image" class="soclogo" src="{{site.baseurl}}/images/behance-logo.png" alt="behance logo">
                    </a>
                </div>

                <div class="unit unit-xs-1-3 unit-s-1-3 unit-m-1-3 unit-l-1-3 nospace">
                    <a itemtype="email" href="mailto:shakeel.nazir1@gmail.com" class="contact2">
                        <img itemtype="image" class="soclogo" src="{{site.baseurl}}/images/mail.png" alt="mail logo">
                    </a>
                </div>

                <div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1 copyright">
                    <p class="white2">© 2016<span class="white2" itemprop="name">Shakeel Nazir</span></p>
                </div>

            </div>
        </div>

      </body>
</html>
